.Committees {
  display: flex;
  align-items: center;
  text-align: left;
}

.Committees li:not(:last-child) {
  margin-right: 40px;
}

.Committees-link {
  display: block;
}

.Committees-logo {
  max-height: 90px;
}
