:root {
  font-size: 16px;
}

@media only screen and (min-width: 576px) {
  :root {
    font-size: 20px;
  }
}

html,
body,
#root {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  color: #333333;
  -webkit-tap-highlight-color: #0085a1;
}

p {
  line-height: 1.5;
  margin: 30px 0;
}

p a {
  text-decoration: underline;
}

a {
  color: #333333;
  transition: all 0.2s;
}

a:focus,
a:hover {
  color: #0085a1;
}

blockquote {
  font-style: italic;
  color: #777777;
}

.section-heading {
  font-size: 36px;
  font-weight: 700;
  margin-top: 60px;
}

.caption {
  font-size: 14px;
  font-style: italic;
  display: block;
  margin: 0;
  padding: 10px;
  text-align: center;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

::-moz-selection {
  color: white;
  background: #0085a1;
  text-shadow: none;
}

::selection {
  color: white;
  background: #0085a1;
  text-shadow: none;
}

img::selection {
  color: white;
  background: transparent;
}

img::-moz-selection {
  color: white;
  background: transparent;
}
