.Menu {
  margin-bottom: 50px;
  padding: 0;
}

.Menu .nav-item {
  position: relative;
  height: 220px;
  flex-basis: calc((100% - 60px) / 3);
  margin-right: 30px;
  margin-bottom: 15px;

  line-height: 36px;
  text-align: center;

  background-image: url("../images/books.jpg");
  background-size: cover;
  background-position: center;
  filter: grayscale(0.5);
}

.Menu .nav-item.AboutPage {
  background-image: url("../images/about.jpg");
}

.Menu .nav-item.BoardPage {
  background-image: url("../images/board.jpg");
}

.Menu .nav-item.EventsPage {
  background-image: url("../images/events.jpg");
}

.Menu .nav-item.ForAuthorsPage {
  background-image: url("../images/for-authors.jpg");
}

.Menu .nav-item::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #17296f;
  z-index: -1;
  opacity: 0.75;
  transition: all 0.2s;
}

.Menu .nav-item:hover::before {
  opacity: 0.85;
}

.Menu .nav-item:nth-child(3n) {
  margin-right: 0;
}

.Menu .nav-item:nth-child(n + 3) {
  margin-bottom: 0;
}

.Menu .nav-link {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.Menu .navbar-brand {
  font-weight: 800;
  color: #777777;
}

.Menu .navbar-toggler {
  font-size: 12px;
  font-weight: 800;
  padding: 13px;
  text-transform: uppercase;
  color: #777777;
}

.Menu .navbar-nav {
  width: 100%;
  flex-wrap: wrap;
}

.Menu .navbar-nav > li.nav-item > a {
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.Menu.Menu--aside {
  flex-direction: column;
  margin-bottom: 0;
}

.Menu.Menu--aside .nav-item {
  height: 100px;
  width: 100%;
  flex-basis: auto;
}

.Menu.Menu--aside .nav-item:not(:last-child) {
  margin: 0 0 15px 0;
}

@media only screen and (min-width: 992px) {
  .Menu {
    border-bottom: 1px solid transparent;
    background: transparent;
  }

  .Menu .navbar-brand {
    padding: 15px 20px;
    color: white;
  }

  .Menu .navbar-brand:focus,
  .Menu .navbar-brand:hover {
    color: rgba(255, 255, 255, 0.8);
  }

  .Menu .navbar-nav > li.nav-item > a {
    padding: 15px 20px;
    color: white;
  }

  .Menu .navbar-nav > li.nav-item > a:focus,
  .Menu .navbar-nav > li.nav-item > a:hover {
    color: rgba(255, 255, 255, 0.8);
  }
}

@media only screen and (min-width: 1170px) {
  .Menu {
    -webkit-transition: background-color 0.2s;
    -moz-transition: background-color 0.2s;
    transition: background-color 0.2s;
    /* Force Hardware Acceleration in WebKit */
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-backface-visibility: hidden;
  }
  .Menu.is-fixed {
    /* when the user scrolls down, we hide the header right above the viewport */
    position: fixed;
    top: -77px;
    -webkit-transition: -webkit-transform 0.2s;
    -moz-transition: -moz-transform 0.2s;
    transition: transform 0.2s;
    border-bottom: 1px solid white;
    background-color: rgba(255, 255, 255, 0.9);
  }
  .Menu.is-fixed .navbar-brand {
    color: #333333;
  }
  .Menu.is-fixed .navbar-brand:focus,
  .Menu.is-fixed .navbar-brand:hover {
    color: #0085a1;
  }
  .Menu.is-fixed .navbar-nav > li.nav-item > a {
    color: #333333;
  }
  .Menu.is-fixed .navbar-nav > li.nav-item > a:focus,
  .Menu.is-fixed .navbar-nav > li.nav-item > a:hover {
    color: #0085a1;
  }
  .Menu.is-visible {
    /* if the user changes the scrolling direction, we show the header */
    -webkit-transform: translate3d(0, 100%, 0);
    -moz-transform: translate3d(0, 100%, 0);
    -ms-transform: translate3d(0, 100%, 0);
    -o-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
}
